@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
/* body-colors */
--dark-violet: #1a1a2e ;
--soft-violet: #764ba2;

/* login-colors */
--white: white;
--shadow-dark: rgba(0, 0, 0, 0.2);

/* btn-color */
--dark-btn:#5a397a;

/* link-color */
--text-color:#888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, var(--dark-violet) 0%, var(--soft-violet) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Inter", sans-serif;

  .login-card {
    background: var(--white);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px var(--shadow-dark);
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .brand-logo {
      font-size: 2.2rem;
      font-weight: bold;
      color: #1a1a2e;
      margin-bottom: 5px;
      width: 200px;

      span {
        color: var(--soft-violet);
      }
    }

    .welcome-text {
      color: var(--soft-violet);
      margin-bottom: 30px;
      font-size: 1rem;
    }

    #loginForm {
      width: 100%;
      .input-group {
        text-align: left;
        margin-bottom: 20px;

        label {
          display: block;
          margin-bottom: 8px;
          color: var(--dark-violet);
          font-size: 0.9rem;
          font-weight: 600;
        }

        input {
          width: 100%;
          padding: 12px;
          border: 1px solid var(--soft-violet);
          border-radius: 10px;
          outline: none;
          transition: all 0.3s ease;

          &:focus {
            border-color: var(--soft-violet);
            box-shadow: 0 0 8px var(--dark-violet);
            transform: translateY(-1px);
          }
        }
      }

      .login-btn {
        width: 100%;
        padding: 14px;
        background: var(--soft-violet);
        color: var(--white);
        border: none;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background: var(--dark-btn);
          box-shadow: 0 5px 15px rgba(118, 75, 162, 0.4);
        }

        &:active {
          transform: scale(0.98);
        }
      }
    }

    .footer-links {
      margin-top: 25px;
      font-size: 0.85rem;
      color: var(--text-color);

      a {
        color: var(--soft-violet);
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}